@import url(~@/assets/css/normalize.css);

:root {
  --color-text: #333;
  --color-background: #f4f4f4;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  line-height: var(--line-height);
  margin: 0 auto;
  width: 10rem; /* flexible 划分了 10 等份 */
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

input, textarea, button {
  outline: 0;
  border: 0;
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

.f-thide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

